<div class="inside-banner">
  <div class="container">
    <h2><%= fa_icon "arrow-left"%> <%= link_to 'Imóveis', estates_path %></h2>
  </div>
</div>
<!-- banner -->
<div class="container">
  <div class="properties-listing spacer">
    <div class="row">
      <div class="col-lg-12 col-sm-8 ">
        <h2>Condomínio Farol do Lago</h2>
        <div class="row">
          <div class="col-lg-8 col-sm-6">
            <div class="property-images">
              <!-- Slider Starts -->
              <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators hidden-xs">
                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="1" class=""></li>
                </ol>
                <div class="carousel-inner">
                  <!-- Item 1 -->
                  <div class="item active">
                    <%= image_tag "farol3.png"%>
                  </div>
                  <!-- #Item 1 -->
                  <!-- Item 2 -->
                  <div class="item">
                    <%= image_tag "farol2.png"%>
                  </div>
                  <!-- #Item 2 -->
                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev"><%= fa_icon "chevron-left" %></a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next"><%= fa_icon "chevron-right" %></a>
              </div>
              <!-- #Slider Ends -->
            </div>
          </div>
          <!-- Preço, endereço, etc  -->
          <div class="col-lg-4 col-sm-6">
            <div class="property-info">
              <p class="area"><%= fa_icon "map-marker" %> KM 5 Estrada Fama a BR-491</p>
            </div>
            <div class="spacer">
              <h4><%= fa_icon "th-list" %></span> Detalhes</h4>
              <p>Que tal um local especial para você compartilhar momentos inesquecíveis com amigos e familiares? Pois esse lugar existe e está próximo a você. Conheça o Residencial Farol do Lago. Localizado a 5 minutos de Fama/MG e a 10 minutos de Alfenas/MG, esse condomínio fechado será realizado às margens da represa de Furnas. Aproveite, entre em contato e saiba mais.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
  <div class="actions">
    <div class="col-lg-12">
      <div class="col-lg-6">
        <%= link_to 'Voltar', estates_path, class: "form-control btn btn-danger" %>
      </div>
    </div>
  </div>
</div>
<br>
