<p id="notice"><%= notice %></p>
<div class="inside-banner">
  <div class="container">
    <span class="pull-right"><a href="#">Imovéis</a></span>
    <h2>Imóveis</h2>
  </div>
</div>
<!-- banner -->
<div class="container">
  <div class="row">
    <% @estates.each do |estate| %>
      <div class="col-lg-4 col-sm-6">
        <div class="properties-listing spacer">
          <div id="owl-example" class="owl-carousel">
            <div class="properties">
              <div class="image-holder">
                  <%= image_tag estate.image0.url(:thumb) %>
              </div>
              <h4> <%= link_to estate.name, estate %></h4>
              <p class="price">Preço: <%= estate.price %></p>
              <div class="listing-detail">
                <span data-toggle="tooltip" data-placement="bottom" data-original-title="Bed Room">5</span>
                <span data-toggle="tooltip" data-placement="bottom" data-original-title="Living Room">2</span>
                <span data-toggle="tooltip" data-placement="bottom" data-original-title="Parking">2</span>
                <span data-toggle="tooltip" data-placement="bottom" data-original-title="Kitchen">1</span>
              </div>
              <%= link_to 'Ver Detalhes', estate, class: "btn btn-primary" %>
              <%= link_to 'Edit', edit_estate_path(estate) %>
              <%= link_to 'Destroy', estate, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= link_to 'New Estate', new_estate_path %>
