<div class="inside-banner">
  <div class="container">
    <h2>Imóveis</h2>
  </div>
</div>
<!-- banner -->
<div class="container">
  <br>
  <% if user_signed_in? %>
    <%= link_to 'Novo Imóvel', new_estate_path, class: "form-control btn btn-default" %>
  <% end %>
  <div class="row">
    <% @estates.each do |estate| %>
      <div class="col-lg-4 col-sm-6">
        <div class="properties-listing spacer">
          <div id="owl-example" class="owl-carousel">
            <div class="properties">
              <div class="image-holder">
                <%= link_to(image_tag(estate.image0.url(:thumb)), estate) %>
              </div>
              <h4> <%= link_to estate.name, estate %></h4>
              <p class="price"><%= number_to_currency(estate.price , unit: "R$", separator: ",", delimiter: "") %></p>
              <%= link_to 'Ver Detalhes', estate, class: "btn btn-primary" %>
              <% if user_signed_in? %>
                <%= link_to 'Editar', edit_estate_path(estate) %>
                <%= link_to 'Apagar', estate, method: :delete, data: { confirm: 'Você tem certeza?' } %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <br>
  </div>
</div>
