<p id="notice"><%= notice %></p>
<div class="inside-banner">
  <div class="container">
    <h2><%= link_to 'Imóveis', estates_path %></h2>
  </div>
</div>
<!-- banner -->
<div class="container">
  <div class="properties-listing spacer">
    <div class="row">
      <div class="col-lg-12 col-sm-8 ">
        <h2><%= @estate.name %></h2>
        <div class="row">
          <div class="col-lg-8">
            <div class="property-images">
              <!-- Slider Starts -->
              <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators hidden-xs">
                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="1" class=""></li>
                  <li data-target="#myCarousel" data-slide-to="2" class=""></li>
                  <li data-target="#myCarousel" data-slide-to="3" class=""></li>
                  <li data-target="#myCarousel" data-slide-to="4" class=""></li>
                  <li data-target="#myCarousel" data-slide-to="5" class=""></li>
                </ol>
                <div class="carousel-inner">
                  <!-- Item 1 -->
                  <div class="item active">
                    <%= image_tag @estate.image0.url(:medium)%>
                  </div>
                  <!-- #Item 1 -->
                  <!-- Item 2 -->
                  <div class="item">
                    <%= image_tag @estate.image1.url(:medium)%>
                  </div>
                  <!-- #Item 2 -->
                  <!-- Item 3 -->
                  <div class="item">
                    <%= image_tag @estate.image2.url(:medium)%>
                  </div>
                  <!-- #Item 3 -->
                  <!-- Item 4 -->
                  <div class="item ">
                    <%= image_tag @estate.image3.url(:medium)%>
                  </div>
                  <!-- # Item 4 -->
                  <!-- Item 5 -->
                  <div class="item ">
                    <%= image_tag @estate.image4.url(:medium)%>
                  </div>
                  <!-- # Item 5 -->
                  <!-- Item 6 -->
                  <div class="item ">
                    <%= image_tag @estate.image5.url(:medium)%>
                  </div>
                  <!-- # Item 6 -->
                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev"><%= fa_icon "chevron-left" %></a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next"><%= fa_icon "chevron-right" %></a>
              </div>
              <!-- #Slider Ends -->
            </div>
          </div>
          <!-- Preço, endereço, etc  -->
          <div class="col-lg-4">
            <div class="property-info">
              <p class="price"><%= number_to_currency(@estate.price , unit: "R$", separator: ",", delimiter: "") %></p>
              <p class="area"><%= fa_icon "map-marker" %> <%= @estate.street %></p>
            </div>
            <div class="spacer"><h4><%= fa_icon "th-list" %></span> Detalhes</h4>
              <p><%= @estate.description%></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
  <div class="actions">
    <div class="col-lg-12">
      <div class="col-lg-6">
        <%= link_to 'Voltar', estates_path, class: "form-control btn btn-danger" %>
      </div>
      <div class="col-lg-6">
        <% if user_signed_in? %>
          <%= link_to 'Editar', edit_estate_path(@estate), class: "form-control btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<br>
