<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <title>Imobiliária J. Alves</title>
  <meta charset="UTF-8">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Encontre o seu novo terreno ou casa em Fama, uma das cidades mais lindas do Sul de Minas.">
  <meta name="keywords" content="imobiliaria j alves, Imobiliaria J Alves, Imobiliária J Alves, IMOBILIARIA J ALVES, imobiliriaria em fama, imobiliária em fama, Imobiliaria em fama, Imobiliária em Fama, Imobiliária em Fama, casas a venda em Fama, terrenos a venda em Fama, casas a venda em fama, terrenos a venda em fama">
</head>
<body>
  <!-- Header Starts -->
  <div class="navbar-wrapper navbar-fixed-top">
    <div class="navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Menu</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <!-- Nav Starts -->
        <div class="navbar-collapse  collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><%= link_to "Home", root_path %></li></li>
            <li><%= link_to "Imóveis", estates_path %></li></li>
            <li><%= link_to "Sobre", sobre_path %></li>
            <li><%= link_to "Contato", contato_path %></li>
            <% if user_signed_in? %>
              <li><%= link_to "Mensagens", contacts_path %></li>
              <li><%= link_to "Sair", destroy_user_session_path, :method => :delete, class: "btn btn-danger" %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- #Nav Ends -->
  <!-- Header Starts -->
  <div class="container">
    <br>
    <div class="header">
      <%= image_tag "logo2.png", size: "200x80" %>
    </div>
  </div>
  <!-- #Header Starts -->



<%= yield %>




<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-4">
        <h4>Informação</h4>
        <ul class="row">
          <li class="col-lg-6 col-sm-6 col-xs-6"><%= link_to "Sobre", sobre_path %></li>
          <li class="col-lg-6 col-sm-6 col-xs-6"><%= link_to "Contato", contato_path %></li>
        </ul>
      </div>
      <div class="col-lg-4 col-sm-4">
        <h4>Redes Sociais</h4>
        <%= image_tag "facebook.png", alt: "Facebook" %>
      </div>
      <div class="col-lg-4 col-sm-4">
        <h4>Quem somos</h4>
        <address class="">
        <p><b>Imobiliária J. Alves</b><br>
          <%= fa_icon "map-marker" %> Rua Santos Dumont, 226 <br>
          <%= fa_icon "envelope-o" %> hello@bootstrapreal.com<br>
          <%= fa_icon "whatsapp" %> (123) 456-7890</p>
      </address>
      </div>
    </div>
    <p align="center" class="copyright">Copyright 2017. Todos os direitos reservados.	</p>
  </div>
</div>
</body>
</html>
